Makefile
config.h
config.log
config.status
lib/.deps/
lib/.dirstamp
lib/inttypes.h
lib/lib_libtime_a-basename-lgpl.o
lib/lib_libtime_a-dirname-lgpl.o
lib/lib_libtime_a-getprogname.o
lib/lib_libtime_a-progname.o
lib/lib_libtime_a-stripslash.o
lib/lib_libtime_a-unistd.o
lib/lib_libtime_a-version-etc-fsf.o
lib/lib_libtime_a-version-etc.o
lib/libtime.a
lib/limits.h
lib/localtime-buffer.o
lib/signal.h
lib/stdint.h
lib/stdio.h
lib/stdlib.h
lib/string.h
lib/sys/
lib/time.h
lib/unistd.h
src/.deps/
src/.dirstamp
src/time-resuse.o
src/time-rusage-kb.o
src/time-time.o
stamp-h1
tests/.deps/
time

